.vid-poster {
    background: url("../vid/vid-poster.jpg");background-image: url("../vid/vid-poster.jpg") !important;
}
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a {
    cursor: pointer;
}

.instragram-feed a {
    display: block;
    height: 100%;
    width: 100%;
}

a.terms-link {
    color: #fff;
}

.input-search {
    height: 47px;
}

 .hidden {
	 display: none !important;
	 visibility: hidden !important;
}

.event-description p {
    margin-top: 17px;
}

/* this removes the apply buttons on the header and footer */

a.btn.btn-primary.navbar-btn.hidden-sm {
    visibility: hidden;
    display: none !important;
}

.btn-apply {
    display: none !important;
    visibility: hidden;
}
/*end*/

.jumbotron .panel-sub-text {
		font-size: .8em;	
}

@media (max-width: 1199px) {
    
    .col-sm-7.hp-h-col {
    width: 74% !important;
    }
}


@media (max-width: 992px) {
    .col-sm-7.hp-h-col {
        width: 78% !important;
    }
}