html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

b,strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

hr {
    box-sizing: content-box;
    height: 0
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../bootstrap/fonts/glyphicons-halflings-regular.eot") format("eot"),url("../bootstrap/fonts/glyphicons-halflings-regular.svg") format("svg"),url("../bootstrap/fonts/glyphicons-halflings-regular.ttf") format("ttf"),url("../bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff"),url("../bootstrap/fonts/glyphicons-halflings-regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-play:before {
    content: "\e072"
}

.glyphicon-play-circle:before {
    content: "\e029"
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.44;
    color: #484949;
    background-color: #fff
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #006A96;
    text-decoration: none
}

a:hover,a:focus {
    color: #00344a;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

[role="button"] {
    cursor: pointer
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: "Cambria",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 0.917;
    color: inherit
}

h1,.h1,h2,.h2,h3,.h3 {
    margin-top: 23px;
    margin-bottom: 11.5px
}

h4,.h4,h5,.h5,h6,.h6 {
    margin-top: 11.5px;
    margin-bottom: 11.5px
}

h1,.h1 {
    font-size: 38px
}

h2,.h2 {
    font-size: 28px
}

h3,.h3 {
    font-size: 25px
}

h4,.h4 {
    font-size: 18px
}

h5,.h5 {
    font-size: 16px
}

p {
    margin: 0 0 11.5px
}

small,.small {
    font-size: 87%
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

ul,ol {
    margin-top: 0;
    margin-bottom: 11.5px
}

ul ul,ul ol,ol ul,ol ol {
    margin-bottom: 0
}

.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

address {
    margin-bottom: 23px;
    font-style: normal;
    line-height: 1.44
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:before,.container:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 992px) {
    .container {
        width:970px
    }
}

@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-fluid:before,.container-fluid:after {
    content: " ";
    display: table
}

.container-fluid:after {
    clear: both
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:before,.row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-8 {
    width: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-12 {
    width: 100%
}

.col-xs-offset-0 {
    margin-left: 0%
}

@media (min-width: 768px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float:left
    }

    .col-sm-3 {
        width: 25%
    }

    .col-sm-4 {
        width: 33.33333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-7 {
        width: 58.33333%
    }

    .col-sm-8 {
        width: 66.66667%
    }

    .col-sm-9 {
        width: 75%
    }

    .col-sm-offset-3 {
        margin-left: 25%
    }
}

@media (min-width: 992px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float:left
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-md-offset-1 {
        margin-left: 8.33333%
    }

    .col-md-offset-6 {
        margin-left: 50%
    }
}

@media (min-width: 1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float:left
    }

    .col-lg-2 {
        width: 16.66667%
    }

    .col-lg-8 {
        width: 66.66667%
    }

    .col-lg-12 {
        width: 100%
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold
}

input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type="radio"],input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal
}

.form-control {
    display: block;
    width: 100%;
    height: 49px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.44;
    color: #747678;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s
}

.form-control::-webkit-input-placeholder {
    color: #7f7f7f
}

input[type="search"] {
    -webkit-appearance: none
}

.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9
}

.radio-inline,.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer
}

.radio-inline+.radio-inline,.checkbox-inline+.checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control {
        width: auto
    }

    .form-inline .input-group>.form-control {
        width: 100%
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.44;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:hover,.btn:focus,.btn.focus {
    color: #fff;
    text-decoration: none
}

.btn-default {
    color: #fff;
    background-color: #FFCD00;
    border-color: transparent
}

.btn-default:hover {
    color: #fff;
    background-color: #cca400;
    border-color: transparent
}

.btn-primary {
    color: #fff;
    background-color: #006A96;
    border-color: transparent
}

.btn-primary:focus,.btn-primary.focus {
    color: #fff;
    background-color: #004663;
    border-color: transparent
}

.btn-primary:hover {
    color: #fff;
    background-color: #004663;
    border-color: transparent
}

.btn-lg,.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33333;
    border-radius: 0px
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height,visibility;
    transition-property: height,visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.dropup,.dropdown {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #004d6d;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.44;
    color: #fff;
    white-space: nowrap
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #fff
}

.open>.dropdown-menu {
    display: block
}

.open>a {
    outline: 0
}

.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px
}

.btn-group,.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle {
    outline: 0
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

.input-group-addon,.input-group-btn,.input-group .form-control {
    display: table-cell
}

.input-group-addon,.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn>.btn {
    position: relative
}

.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:before,.nav:after {
    content: " ";
    display: table
}

.nav:after {
    clear: both
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:hover,.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background-color: #eee;
    border-color: #006A96
}

.nav-pills>li {
    float: left
}

.nav-pills>li>a {
    border-radius: 0px
}

.nav-pills>li+li {
    margin-left: 2px
}

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
    border: 1px solid transparent
}

.navbar:before,.navbar:after {
    content: " ";
    display: table
}

.navbar:after {
    clear: both
}

@media (min-width: 992px) {
    .navbar {
        border-radius:0px
    }
}

.navbar-header:before,.navbar-header:after {
    content: " ";
    display: table
}

.navbar-header:after {
    clear: both
}

@media (min-width: 992px) {
    .navbar-header {
        float:left
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse:before,.navbar-collapse:after {
    content: " ";
    display: table
}

.navbar-collapse:after {
    clear: both
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width: 992px) {
    .navbar-collapse {
        width:auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
    max-height: none
}

.container>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-header,.container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 992px) {
    .container>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-header,.container-fluid>.navbar-collapse {
        margin-right:0;
        margin-left: 0
    }
}

.navbar-fixed-top,.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width: 992px) {
    .navbar-fixed-top,.navbar-fixed-bottom {
        border-radius:0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-brand {
    float: left;
    padding: 28.5px 15px;
    font-size: 20px;
    line-height: 23px;
    height: 80px
}

@media (min-width: 992px) {
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left:-15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 23px;
    margin-bottom: 23px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width: 992px) {
    .navbar-toggle {
        display:none
    }
}

.navbar-nav {
    margin: 14.25px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 23px
}

@media (max-width: 991px) {
    .navbar-nav .open .dropdown-menu {
        position:static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 23px
    }

    .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        float:left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 28.5px;
        padding-bottom: 28.5px
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);
    margin-top: 15.5px;
    margin-bottom: 15.5px
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn,.navbar-form .input-group .form-control {
        width: auto
    }

    .navbar-form .input-group>.form-control {
        width: 100%
    }
}

@media (min-width: 992px) {
    .navbar-form {
        width:auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.navbar-btn {
    margin-top: 15.5px;
    margin-bottom: 15.5px
}

@media (min-width: 992px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px
    }
}

.navbar-default {
    background-color: #fff;
    border-color: #eee
}

.navbar-default .navbar-brand {
    color: #fff
}

.navbar-default .navbar-nav>li>a {
    color: #fff
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #006A96
}

.navbar-default .navbar-toggle {
    border-color: transparent
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
    border-color: #eee
}

@media (max-width: 991px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:#fff
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
        background-color: #006A96
    }
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee
}

.jumbotron h1,.jumbotron .h1 {
    color: inherit
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 200
}

.jumbotron .container {
    max-width: 100%
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top:48px;
        padding-bottom: 48px
    }

    .jumbotron h1,.jumbotron .h1 {
        font-size: 72px
    }
}

.panel {
    margin-bottom: 23px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}

.panel-body {
    padding: 15px
}

.panel-body:before,.panel-body:after {
    content: " ";
    display: table
}

.panel-body:after {
    clear: both
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: none
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.visible-xs {
    display: none !important
}

.visible-sm {
    display: none !important
}

.visible-md {
    display: none !important
}

.visible-lg {
    display: none !important
}

@media (max-width: 767px) {
    .visible-xs {
        display:block !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display:block !important
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display:block !important
    }
}

@media (min-width: 1200px) {
    .visible-lg {
        display:block !important
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display:none !important
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display:none !important
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display:none !important
    }
}

.no-gutter {
    padding-left: 0;
    padding-right: 0
}

body {
    font-weight: normal
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    text-transform: uppercase;
    font-weight: normal
}

h1 br,h2 br {
    margin-left: 1em
}

b,strong {
    font-family: 'Cambria'
}

.top-nav>li {
    float: right !important;
    font-size: .8em
}

.top-nav>li a {
    color: #484949
}

.main {
    margin-top: 5em
}

.secondary-nav {
    background-color: transparent;
    margin: 14.25px -15px
}

.secondary-nav>li {
    background-color: #005979;
    margin-bottom: .5em
}

.secondary-nav>li a {
    color: #fff
}

.navbar-toggle {
    margin-right: 0;
    padding-top: 6px
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background: transparent
}

.navbar-default.navbar-fixed-top {
    z-index: 1001;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25)
}

.navbar-toggle .icon-bar {
    height: 4px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px
}

.navbar-toggle {
    border: none;
    background: transparent
}

.navbar-toggle:hover {
    background: transparent
}

.navbar-toggle .icon-bar {
    width: 25px;
    left: 3px;
    transition: all 0.2s;
    position: relative
}

.navbar-toggle .icon-bar:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: -4% 10%
}

.navbar-toggle .icon-bar:nth-child(3) {
    opacity: 0
}

.navbar-toggle .icon-bar:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: -4% 90%
}

.navbar-toggle.collapsed .icon-bar {
    left: 0
}

.navbar-toggle.collapsed .icon-bar:nth-child(2) {
    transform: rotate(0)
}

.navbar-toggle.collapsed .icon-bar:nth-child(3) {
    opacity: 1
}

.navbar-toggle.collapsed .icon-bar:nth-child(4) {
    transform: rotate(0)
}

.dropdown-search {
    background: #fff;
    color: #000;
    width: 100%;
    padding: 0 15px;
    margin: 0
}

.navbar-default .navbar-collapse,.navbar-default .dropdown-search .navbar-form {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0
}

.dropdown-search .radio-inline {
    font-size: 0.85em;
    padding-bottom: 1em
}

.search-icon.search-expand.dropdown-toggle {
    padding: 0.1em;
    margin: 22px 5px 0 0;
    float: right
}

.navbar-header .search-icon.search-expand.dropdown-toggle .search-icon {
    padding: 1em;
    background-image: url("../img/icon_search.png");
    width: 30px;
    background-repeat: no-repeat;
    height: 29px;
    background-size: 25px;
    display: block;
    background-position: center
}

.navbar-header.open .search-icon.search-expand.dropdown-toggle .search-icon {
    background-image: url("../img/icon_close.png");
    background-size: 15px;
    background-color: #FFCD00
}

.navbar-header.open .search-icon.search-expand.dropdown-toggle {
    background-color: #FFCD00
}

.navbar-btn .dropdown-toggle {
    transform: rotate(180deg)
}

.navbar-btn .dropdown-toggle.open {
    transform: rotate(0deg)
}

.btn-group.open .dropdown-toggle {
    box-shadow: none
}

.navbar-btn .dropdown-toggle,.navbar-btn a {
    background: transparent
}

.nav.navbar-nav.small-nav>li {
    border-bottom: 1px solid rgba(255,255,255,0.25)
}

.navbar-nav.small-nav {
    margin-top: 0;
    margin-bottom: 0
}

.navbar-nav.small-nav .navbar-btn {
    margin-bottom: 0
}

.navbar-default .navbar-nav {
    padding: 0
}

.navbar-default .navbar-nav.small-nav .dropdown-menu {
    background-color: rgba(0,52,89,0.75);
    padding-top: 0;
    padding-bottom: 0
}

.bg-blue {
    background-color: rgba(0,52,89,0.75)
}

.navbar-default .navbar-nav.small-nav .navbar-btn>a {
    text-transform: uppercase;
    color: #fff;
    padding: 00px 15px
}

.navbar-default .navbar-nav.small-nav .navbar-btn a {
    padding: 0em 15px 15px;
    display: inline-block
}

.navbar-default .navbar-nav.small-nav .navbar-btn .dropdown-menu a {
    padding: 1em 15px 15px;
    width: 100%
}

.navbar-default .navbar-nav.small-nav .navbar-btn ul li a {
    font-family: 'Cambria'
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background: transparent
}

.navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 15px
}

.navbar-default .navbar-nav.small-nav>li .navbar-btn {
    width: 100%
}

.navbar-default .navbar-nav.small-nav li .navbar-btn .dropdown-toggle {
    float: right;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px
}

.navbar-default {
    background: none;
    border: none
}

.header-wrap {
    background: #fff;
    padding-bottom: 0px
}

.nav-wrap {
    background-color: rgba(0,108,146,0.95);
    padding: 0
}

.nav-wrap .container {
    margin-top: 0px
}

.navbar-default .navbar-nav .nav-group>a {
    text-transform: uppercase;
    font-size: 0.835em;
    color: #484949;
    text-decoration: none;
    text-align: left;
    line-height: 1
}

.main-nav {
    overflow: hidden;
    max-height: 50px;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s
}

.main-nav.is-hover {
    max-height: 600px
}

.main-nav .large-nav {
    width: 100%
}

.main-nav>.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.main-nav li {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    float: none;
    width: auto
}

.main-nav .nav-group>a {
    text-transform: uppercase;
    background-color: #fff;
    padding-top: 0.5em;
    height: 50px
}

.main-nav .list-unstyled li:hover {
    background-color: #fff
}

.main-nav .list-unstyled li a {
    padding: 0.5em 1em;
    display: block;
    color: #fff;
    font-family: "Cambria"
}

.main-nav .list-unstyled li a:hover {
    text-decoration: none;
    color: #484949
}

.main-nav .nav-group>a.bg-blue {
    background-color: #006A96;
    color: #fff
}

.btn {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    min-width: 200px;
    margin-bottom: 1em;
    letter-spacing: 0.08em;
    font-weight: normal
}

.btn.navbar-btn {
    min-width: 0
}

.jumbotron-hero-lg .btn {
    min-width: 260px
}

.text-link,.pop-over {
    text-transform: uppercase;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px #006A96 solid;
    letter-spacing: 0.08em
}

.text-link-secondary {
    text-transform: uppercase;
    font-family: "Cambria", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px #fff solid;
    letter-spacing: 0.08em
}

.text-link:hover,.text-link:focus,.text-link-secondary:hover,.text-link-secondary:focus,.pop-over:hover,.pop-over:focus {
    text-decoration: none
}

.text-link-hover-arrow {
    visibility: hidden;
    font-size: 16px;
    padding-left: 0.25em;
    opacity: 0;
    transition: visibility 0.5s
}

.panel {
    border: none
}

.panel.panel-primary {
    background: rgba(0,106,150,0.85)
}

.panel.panel-primary .panel-body {
    padding: 1em 2em
}

.panel.panel-primary .text-link {
    color: #fff;
    border-bottom: 1px solid #fff
}

.panel.panel-primary .text-right {
    margin-bottom: 0.25em
}

.text-indent h1 span {
    margin-left: 1.24em
}

.btn-default {
    background-color: #FFCD00;
    color: #484949;
    font-family: 'Cambria';
    font-weight: bold;
    transition: all 0.3s
}

.btn-primary {
    font-family: 'Cambria'
}

.btn-default:hover,.btn-default:active {
    color: #484949;
    background-color: #fff;
    border-color: transparent;
    transition: all 0.3s
}

section.jumbotron-hero {
    -webkit-animation-duration: 1.5s
}

.jumbotron-hero,.jumbotron-image-bg {
    background-color: rgba(0,0,0,0.25);
    background-blend-mode: multiply
}

.navbar-default {
    font-family: "Cambria", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.navbar-brand {
    padding: 28.5px 15px 28.5px 0
}

.navbar-default .navbar-brand span {
    color: transparent;
    width: 255px
}

.navbar-default .navbar-brand span img {
    width: 155px
}

.jumbotron {
    margin-bottom: 0;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff
}

.jumbotron .panel {
    color: #484949
}

.jumbotron .panel.panel-primary {
    color: #fff
}

.jumbotron-hero .text-indent h1,.jumbotron-hero .text-indent h2,.jumbotron-hero .text-indent h3,.jumbotron-image-bg .text-indent h1,.jumbotron-image-bg .text-indent h2,.jumbotron-image-bg .text-indent h3 {
    text-shadow: 0px 0px 50px rgba(0,0,0,0.75)
}

.jumbotron-hero .text-indent p,.jumbotron-image-bg .text-indent p {
    text-shadow: 0px 0px 25px rgba(0,0,0,0.75)
}

.jumbotron.jumbotron-white h1,.jumbotron.jumbotron.jumbotron-white h2,.jumbotron.jumbotron.jumbotron-white h3,.jumbotron.jumbotron.jumbotron-white p,.jumbotron-quote-slider h1,.jumbotron-quote-slider h2,.jumbotron-quote-slider p,.event-single h1,.event-single h2,.event-single h3,.event-single p,.schools-grid h3,.schools-grid p,.jumbotron-gray h1,.side-image-white h1 {
    text-shadow: none
}

.jumbotron p {
    font-size: inherit
}

.jumbotron-hero,.jumbotron-schools,.jumbotron-callout-sm {
    background-size: cover
}

.panel .btn-primary:hover,.panel .btn-primary:focus {
    background-color: #102339;
    transition: all 0.3s
}

.navbar-search .radio-inline.radio-active {
    color: #006A96
}

.navbar-search .btn {
    min-width: 0
}

.search-icon img {
    opacity: 0.5;
    padding-top: 0.25em
}

.search-icon.search-expand {
    background-color: #d3d3d3;
    padding: 0.725em
}

.search-icon.search-expand img {
    opacity: 0.5;
    height: 24px;
    padding: 0
}

.jumbotron-hero-lg {
    background-image: url("../img/bg_homepage.jpg")
}

#video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: 100%;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/bg_homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

.page-homepage aside,.page-homepage section {
    z-index: 1;
    position: relative
}

.event-single {
    background: #FFCD00;
    padding-top: 1.5em;
    padding-bottom: 1.5em
}

.event-single .date-wrap {
    background: #006A96;
    color: #fff;
    text-align: center;
    width: 3.5em;
    padding: 0.25em 1em
}

.event-single .date-wrap p {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 0.8em
}

.event-single .date-wrap p span {
    font-size: 2em;
    font-family: 'Cambria';
    font-weight: bold;
    line-height: 0.85
}

.event-single .event {
    color: #484949
}

.event-single .event .event-title {
    margin-top: 0
}

.event-single .event .event-description {
    padding-right: 0
}

.event-single .text-link {
    color: #484949;
    border-bottom: 1px solid #484949;
    width: 7.8em
}

.jumbotron-quote-slider {
    background-color: #006A96;
    color: #fff;
    background-image: url("../img/bg_blue_lines.png")
}

.jumbotron-quote-slider .text-link-secondary {
    color: #fff
}

.quote-slider {
    border: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 1em 0;
    margin: 2em 1em
}

.quote-slider .quote-item {
    margin: 0.5em
}

.quote-slider h4 {
    font-size: 1.8em;
    font-family: 'Cambria';
    font-style: italic;
}

.quote-slider p {
    margin: 0;
    font-family: 'Cambria';
    font-style: italic;
}

.quote-slider p.citation {
    text-transform: uppercase;
    font-family: 'Cambria';
    font-size: 0.8em;
    margin-top: 0.5em
}

.quote-slider .slick-slide {
    opacity: 0.25;
    transition: all 0.5s;
    text-align: right;
    margin: 0em 0;
    padding: 0 1em
}

.quote-slider .slick-current.slick-active {
    opacity: 1;
    transition: all 0.5s
}

.quote-slider .slick-slide.slide-highlight {
    opacity: 1;
    transition: all 0.5s
}

.quote-slider.slick-slider .slick-arrow {
    position: absolute;
    top: 45%
}

.quote-slider.slick-slider .slick-arrow.slick-next {
    right: -23px
}

.quote-slider.slick-slider .slick-arrow.slick-prev {
    background: url("../img/icon_arrow.png") no-repeat;
    left: -23px;
    transform: rotate(-90deg)
}

.quote-slider.slick-slider .slick-arrow.slick-next {
    background: url("../img/icon_arrow.png") no-repeat;
    transform: rotate(90deg)
}

.slick-vertical .slick-slide {
    height: 110px !important;
    margin-bottom: 1.5em !important
}

.jumbotron-callout-sm.jumbotron-research {
    background-image: url("../img/bg_research.jpg")
}

.jumbotron.jumbotron-attend {
    background-image: url("../img/bg_attend.jpg");
    background-position: center top
}

.jumbotron-callout-sm.jumbotron-campus-life {
    padding: 0 !important
}

.jumbotron-callout-sm .campus-life {
    padding: 0;
    background-image: url("../img/bg_campus_life.jpg");
    background-size: cover;
    background-position: center;
    min-height: 275px;
    padding: 0.5em
}

.campus-life-text {
    margin-left: 3%
}

.campus-life-text h2 {
    margin-top: 1em
}

.instragram-feed {
    background: url("../img/placeholder_ig.jpg") no-repeat;
    height: 400px;
    background-size: cover
}

.jumbotron-gray,.side-image-white {
    color: #484949
}

.jumbotron-event-multiple {
    background-image: url("../img/bg_event_multiple.jpg");
    color: #fff
}

.jumbotron-event-multiple .text-link {
    color: #fff;
    text-transform: none;
    border-color: #fff;
    font-family: 'Cambria'
}

.jumbotron-event-multiple .events-wrap {
    margin: 1.5em 0em 2em
}

.campaign-mod {
    background: #82a9d2;
    background-image: none !important
}

.campaign-nontradition h2 {
    text-transform: none
}

.campaign-nontradition h2 span {
    color: #d6e1f1
}

.jumbotron-callout-sm {
    background-image: url("../img/bg_academic_extension.jpg");
    background-position: center top
}

.jumbotron-news h2 {
    margin-bottom: 1em;
    margin-top: 0
}

.jumbotron-news .panel.panel-default {
    border: 1px solid #f2f2f2
}

.jumbotron-news .panel.panel-default img {
    width: 100%
}

.jumbotron-news .panel.panel-default .panel-heading {
    background-color: #fff;
    border: none
}

.jumbotron-news .panel .panel-news-date {
    text-transform: uppercase;
    color: #747678;
    font-size: 0.85em;
    margin-bottom: 0.25em;
    margin-top: 1em
}

.jumbotron-news .panel .panel-news-title {
    text-transform: none;
    margin-top: 0
}

.jumbotron-news .panel.panel-default .panel-body {
    padding-top: 0;
    padding-right: 0.75em
}

.jumbotron-map {
    background-image: url("../img/bg_map.jpg")
}

.jumbotron-map .panel.panel-default {
    background: rgba(255,255,255,0.8)
}

.jumbotron-map h4 {
    text-transform: none;
    line-height: 1.2;
    padding-top: 0.25em
}

.jumbotron-map .btn {
    margin-top: 0.5em;
    margin-bottom: 0.3em
}

.jumbotron-map .list-inline {
    padding-left: 0.5em
}

.jumbotron-campus-life {
    background-image: url("../img/bg_campus_life_hero.jpg")
}

.footer-address-bar,.footer-divisions {
    background: #006A96
}

.footer-address-bar address,.footer-address-bar .footer-tel {
    color: #fff
}

.footer-address-bar .footer-tel {
    padding-top: 0.5em;
    display: inline-block
}

.footer-address-bar .footer-address {
    padding: 0.5em 0
}

.footer-address-bar .footer-brand img {
    padding: 3em 0;
    max-width: 120px
}

.footer-brand {
    max-width: 130px
}

.footer-address-bar {
    padding: 0em
}

.footer-address-bar address {
    font-size: 1em;
    margin: 0
}

.footer-links {
    padding: 0.5em;
    font-size: 0.85em
}

.footer-links ul li {
    padding-bottom: 1em
}

.footer-links ul li a {
    color: #747678
}

.footer-links .btn-apply {
    min-width: 0px;
    padding: 0.8em 1em;
    margin-top: 2em
}

.footer-social-links img {
    max-width: 45px
}

.footer-divisions .dropup .dropdown-menu {
    width: 100%;
    min-height: 270px;
    box-shadow: none;
    margin-bottom: 17px;
    text-align: center;
    background-color: #006A96;
    border: none;
    padding: 1em 0
}

.footer-divisions .btn-default,.footer-divisions .btn-default:active,.btn-default.active,.footer-divisions .open>.btn-default.dropdown-toggle {
    background-color: transparent;
    margin-bottom: 0;
    color: #fff
}

.footer-copyright {
    background: #006075;
    color: #fff;
    padding: 1em;
    margin-bottom: 0
}

.footer-copyright p {
    margin-bottom: 0
}

@media (min-width: 426px) {
    .footer-address-bar .footer-brand img {
        padding:2em 0
    }
}

@media (min-width: 768px) {
    body {
        font-size:1.8em
    }

    h1 {
        font-size: 3.4445em
    }

    h2 {
        font-size: 2.33em
    }

    h3 {
        font-size: 1.88em
    }

    h4 {
        font-size: 1.22em
    }

    .campaign-mod {
        background: url("../img/bg_campaign.jpg");
        background-image: url("../img/bg_campaign.jpg") !important
    }

    .jumbotron-support {
        background-image: url("../img/bg_support_campaign.jpg");
        background-position: top
    }

    .jumbotron {
        padding-top: 60px;
        padding-bottom: 60px
    }

    .jumbotron.jumbotron-callout-xs {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .jumbotron h1,.jumbotron .h1 {
        font-size: 3.4445em
    }

    .navbar-toggle {
        display: block
    }

    .nav-wrap {
        background-color: rgba(0,108,146,0.95);
        padding: 0
    }

    .nav-wrap .container,.header-wrap .container {
        width: 97%
    }

    .main-nav .nav-group,.main-nav .nav-group.nav-group-sm {
        width: 15.6667%
    }

    .navbar-brand {
        padding: 28.5px 15px 28.5px 13px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }

    .navbar-default .navbar-nav li>a {
        color: #fff
    }

    .jumbotron-hero {
        padding-top: 102px;
        padding-bottom: 102px
    }

    .panel .panel-body {
        padding: 1em 2em
    }

    .jumbotron .text-indent {
        margin-bottom: 1.5em
    }

    .jumbotron.jumbotron-callout-sm .text-indent {
        margin-bottom: 1em
    }

    .jumbotron-callout-sm .campus-life {
        min-height: 400px
    }

    .main {
        margin-top: 4.6em
    }

    .event-single .date-wrap {
        width: 5em;
        padding: 0.5em 1em
    }

    .event-single .event .event-title {
        padding-top: 0.25em
    }

    .panel.panel-primary .panel-body {
        padding: 1.5em 3.5em
    }

    .campus-life-text h2 {
        margin-top: 2em
    }

    .jumbotron-quote-slider .text-link-secondary {
        color: #fff
    }

    .quote-slider.slick-slider .slick-arrow {
        position: absolute;
        left: 48%;
        top: -20px
    }

    .quote-slider.slick-slider .slick-arrow.slick-next {
        top: 100%
    }

    .quote-slider.slick-slider .slick-arrow.slick-prev {
        background: url("../img/icon_arrow.png") no-repeat;
        left: 48%;
        transform: rotate(0deg)
    }

    .quote-slider.slick-slider .slick-arrow.slick-next {
        background: url("../img/icon_arrow.png") no-repeat;
        transform: rotate(180deg)
    }

    .quote-slider .slick-current.slick-active {
        opacity: 0.25;
        transition: all 0.5s
    }

    .quote-slider {
        border: none;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding: 1em 0;
        margin: 2em 0
    }

    .quote-slider .slick-slide {
        opacity: 0.25;
        transition: all 0.5s;
        text-align: right;
        margin: 0.75em 0;
        padding: 0
    }

    .jumbotron-news .view-all-link {
        margin-top: 1em
    }

    .jumbotron-news .panel.panel-default {
        min-height: 340px
    }

    .jumbotron-news .panel.panel-default .panel-heading {
        min-height: 135px
    }

    .jumbotron-map .list-inline {
        padding-left: 1.5em
    }

    .footer-divisions {
        padding: 1em
    }

    .footer-divisions .dropup .dropdown-menu {
        padding: 4em 0
    }

    .footer-address-bar .footer-brand img {
        max-width: 177px
    }

    .footer-social-links {
        padding: 2em
    }

    .footer-address-bar .footer-address {
        margin-left: 2em
    }

    .footer-address-bar .footer-address {
        line-height: 3.3em
    }

    .footer-address-bar address {
        font-size: 1.12em
    }

    .footer-links .btn-apply {
        margin-top: 0em
    }
}

@media (min-width: 992px) {
    .navbar-toggle {
        display:none
    }

    .main {
        margin-top: 8.8em
    }

    .nav-wrap .container,.header-wrap .container {
        width: 100%
    }

    .header-wrap {
        padding-bottom: 50px
    }

    .nav-wrap .container {
        margin-top: -50px
    }

    .navbar-default .navbar-brand span img {
        width: 255px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }

    .navbar-right {
        margin-right: 0
    }
    
    nav.navbar,nav.navbar.navbar-default .navbar-brand,nav.navbar.navbar-default .navbar-brand span img,nav.navbar.navbar-default .navbar-form {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease
    }

    nav.navbar.navbar-default .header-wrap {
        -webkit-transition: all 0.0s ease;
        transition: all 0.0s ease
    }

    .navbar-search .input-group {
        margin: 0.85em 0.7em 0
    }

    .navbar-search .radio-inline {
        font-size: 0.85em;
        opacity: 0
    }

    .navbar-search #inputSearch.hidden,.navbar-search .radio-inline.hidden {
        display: none
    }

    section.jumbotron-hero,.jumbotron-image-bg {
        background-color: transparent;
        background-blend-mode: normal
    }

    .text-indent-h1 p {
        margin-left: 5.15em
    }

    .text-indent-h1 a.btn {
        margin-left: 6.2em
    }

    .text-indent-h2 p {
        margin-left: 3.6em
    }

    .text-indent-h2 a.btn {
        margin-left: 4.4em
    }

    .text-indent-h1 p,.text-indent-h2 p {
        width: 19em
    }

    .panel.panel-primary .panel-body {
        min-height: 0px;
        padding: 1em 2.5em
    }

    .campus-life-text {
        margin-left: 10%
    }

    .footer-links {
        padding: 3em 0em
    }

    .footer-social-links {
        padding: 4em 0 0 0
    }
}

@media (min-width: 1024px) {
    .jumbotron-quote-slider .text-indent-block {
        padding:0 3em 0 3.6em;
        max-width: 475px
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size:4em
    }

    .search-icon.search-expand:hover,.search-icon.search-expand:focus {
        background-color: #FFCD00
    }

    .jumbotron h1,.jumbotron .h1 {
        font-size: 4em
    }
}

@media (min-width: 1200px) {
    .panel.panel-primary .panel-body {
        min-height: 0
    }

    .nav-wrap .container,.header-wrap .container {
        max-width: 1400px
    }

    .main-nav .nav-group {
        width: 18.5%;
        min-height: 18em
    }

    .main-nav .nav-group.nav-group-sm {
        width: 13.5%
    }

    .main-nav .nav-group.nav-group-lg {
        width: 22.5%
    }

    .navbar-default .navbar-brand span img {
        width: 255px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease
    }

    .navbar-default .navbar-nav .nav-group>a {
        text-align: left
    }

    .event-single .text-link,.event-single .event-link-lg {
        padding-top: 0.75em
    }

    .footer-address-bar .footer-address {
        margin-left: 0
    }

    .footer-divisions .dropup .dropdown-menu {
        padding: 4em 0;
        min-height: 0
    }
}
